<div class="max-w-2xl mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-6">Редактировать комментарий</h1>
  <%= render "form", comment: @comment %>
  <%= link_to "Назад", post_path(@comment.post), class: "btn btn-outline mt-4" %>
</div>
