<footer class="footer footer-center p-6 mt-16 bg-base-200 text-base-content">
  <div>
    <p>&copy; <%= Time.current.year %> InstaRails — сделано с <span class="text-red-500">❤</span> на Ruby on Rails</p>
  </div>
</footer>
